@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
	font-family: 'Nanum Gothic';
}
*{
	margin:0; 
	padding:0;
}
ul li, ol li {
	list-style:none;
}
a {
	text-decoration: none;
}
html,body {
	width:100%; 
	height: 100%;
}
img {
	vertical-align: top;
}
button {
	cursor:pointer; 
	outline:none; 
	background:none; 
	border:none;
}