*
	{		margin:0; 
			padding:0;									font-family: 'Noto Sans KR', sans-serif;		}
ul li, ol,li 
	{		list-style:none;			}
a 
	{		text-decoration: none;		}
html,body 
	{		width:100%; 								height: 100%;}
img 
	{		vertical-align: top;		}
button 
	{		cursor:pointer;								background:none; 
			outline:none;								border:none;}